extends ../layout

block content
    div.form-position
        form(action="/auth/signin" method="post" class="ui form")
            div.field
                label(for="email") 邮箱
                input(type="email" id="email" name="email" placeholder="Email")
            div.field
                label(for="password") 密码
                input(type="password" id="password" name="password" placeholder="Password")      
            div.field
                div.ui.checkbox
                    label 记住
                    input(type="checkbox" tabindex="0" class="hidden")  

            button(type="submit" class="ui primary button") 登录
            button(type="submit" class="ui button") 
                a(href="/auth/signup") 注册


block script
    script.
        $('.ui.checkbox').checkbox();