extends ../layout

block content
    div.form-position
        form(action="/auth/signup" method="post" class="ui form")
            div.field
                label(for="username") 用户名
                input(type="text" id="username" name="username" placeholder="Username")
            div.field
                label(for="email") 邮箱
                input(type="email" id="email" name="email" placeholder="Email")
            div.field 
                label(for="password") 密码
                input(type="password" id="password" name="password" placeholder="Password")   
            div.field
                label(for="repassword") 重复密码
                input(type="password" id="repassword" name="repassword" placeholder="Repeat Rassword")
            button(type="submit" class="ui button") 注册