extends layout

block content
  div(class="ui  grid")
    div.two.wide.column
    div.twelve.wide.column
        form(action="/admin/add-post" method="post" class="ui form")
            div.field
                label(for="title") 标题 
                input(type="text" id="title" name="title" placeholder="输入标题")
            div.field
                textarea(rows="18" name="content" placeholder="输入文章内容")
            div.field
                label(for="tags") 标题 
                input(type="text" id="tags" name="tags" placeholder="输入标签，以逗号分隔")
                
            button(type="submit" class="ui primary button") 提交          
    div.two.wide.column