doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block css

  body
    div(class="ui secondary pointing menu")
      a.item(href="/") Gxyz
      a.item(href="/tags") 标签页
      a.item(href="/admin/add-post") 添加文章
      div.right.menu
        if user
          a.ui.item(href="/users/" + user.name)= user.name
          a.ui.item(href="/auth/signout") 注销
        else 
          a.ui.item(href="/auth/signin") 登录
          a.ui.item(href="/auth/signup") 注册

    include component/notification.pug
    block content

    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/highlight.min.js")
    script(src="/javascripts/semantic.min.js")
    block script
