body {
  font: 14px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

/*.my-nav,
.navbar {
  background-color: #fff;
  border: 0;
}

.my-nav {
  color: #fff;
  box-shadow: 0 0 5px 4px #ccc;
}*/


.main.row {
  margin-left: 0;
  margin-right: 0;
}

.article {
  box-shadow: 0 0 5px 2px #ccc;
  margin-bottom: 50px;
  min-height: 300px;
  position: relative;
}

.article .article-time,
.article .article-post {
  margin: 0 50px 40px 50px;
}

.article .article-title {
  height: 60px;
  line-height: 60px;  
  margin: 0;
  text-indent: 1em;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.article .article-time {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-style: italic;
  color: #888;
}

.article .article-post {
  text-indent: 2em;
  margin-top: 40px;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

.article .more {
  position: absolute;
  bottom: 10px;
  right: 50px;
}

.article a.more:hover {
  cursor: pointer;
}

/* post details page*/

.details {
    /*font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;*/
}

.details .article-title{
  text-align: center;
}

.details .tag {
  margin-right: 10px;
  float: right;
}


.details time {
  margin-left: 10px;
}

/* form position */
.form-position {
  position: absolute;
  width: 400px;
  left: 50%;
  top: 20%;
  padding: 30px 40px;
  margin-left: -200px;
  /*transform: translate(-50%, -50%);*/
  box-shadow: 0 0 4px 4px #ccc;
}

/*.signin-btn,
.signup-btn {
  margin: 0 10px;
}*/